{%extends 'base.html'%}
{% load static%}


{%block content %}


<div class="container" style="background-image: url('../static/images/insta.jpeg'); background-repeat: no-repeat;background-size: cover;">



    <h1>welcome to instagram app</h1>
    <div class="row">

<div class="col-md-3"></div>
<div class="col-md-6 card">


    <h3>My profile</h3>
    <hr>
    <div class="profile d-flex justify-content-around">
    <img src="" alt=""  height="150px" width="150px" style="border-radius: 50%;float: left;">

   <div class="followers d-flex flex-column">
    <button class="btn btn-primary">Following</button>

    <p> {{user.followers}} <em>followers</em> </p>
    <br>

    <a class="btn btn-primary" href="{% url 'newprofile' %}">Update Profile</a>
   </div>

    
</div>
    


</div>


<div class="col-md-3"></div>

    </div>

    
</div>


{%endblock %}